<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="/main.css">
  <title><%= showTitle ? title + ' | ' : ''; %>Mato Žgajner</title>
</head>
<body>
  <nav class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <% for(var slug in public._data){ %>
          <a
            href="<%= public._data[slug].link %>"
            class="navbar-item<%= public._data[slug].id === current.path[0] ? ' is-active' : ' is-disabled' %>"
          >
            <%= public._data[slug].title %> %>
          </a>
        <% }; %>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container content">
      <% if (showTitle) { %>
        <h1 class="title"><%= title %></h1>
      <% } %>
      <% if (date) { %>
        <p>
          <strong>Post date:</strong>
          <time datetime="<%= date %>">
            <% dateObj = new Date(date); %>
            <%= dateObj.toLocaleString('en-US', { month: "long" }) + ' ' + dateObj.getDate() + ', ' + dateObj.getFullYear(); %>
          </time>
        </p>
      <% } %>
      <%- yield %>
    </div>
  </section>
</body>
</html>
